@font-face {
    font-family: 'Roboto Rubik';
    src: url('../fonts/Rubik-VariableFont_wght.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Rubik';
    
}



.cabecalho {
    width: 100%;
    padding: 3px 160px;

}

.conteudo-header {
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.144);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.conteudo-header .img-header {
    width: 150px;
}

.hero {
    position: relative;
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.733)),
        url(../img/background-hero-dragonball.jpg) center/cover no-repeat;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-conteudo {
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.hero-conteudo h1 {
    font-size: 5rem;
    font-weight: bold;
    color: white;
    animation: fade-down 1s ease forwards;
}

.hero-conteudo p {
    font-size: 1.6rem;
    margin-top: 10px;
    color: white;
    animation: fade-up 1s ease forwards;
}

.sessao-pesquisa {
    width: 100%;
    padding: 20px 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input-container {
    position: relative;
    width: 350px;
    max-width: 90%;
}

.input-pesquisar {
    width: 100%;
    border: none;
    padding: 8px 10px;
    padding-right: 35px;
    border-radius: 10px;
    outline: none;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

.input-pesquisar::placeholder {
    color: #ccc;
}

.filtro_pesquisa {
    appearance: none; 
    -webkit-appearance: none;
    -moz-appearance: none;

    border: 1px solid #ccc;
    background: #fff url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="%23525252"><polygon points="0,0 20,0 10,12"/></svg>') 
               no-repeat right 10px center;
    background-size: 14px;

    padding: 10px 40px 10px 12px;
    border-radius: 10px;
    font-size: 15px;
    color: #525252;
    cursor: pointer;
    box-sizing: border-box;
    transition: all 0.2s ease;
    outline: none;
    width: 300px;
}

.filtro_pesquisa:focus {
    border-color: #888;
    box-shadow: 0 0 4px rgba(0,0,0,0.15);
}

.filtro_pesquisa option {
    padding: 10px;
    background: #fff;
    color: #333;
}

.filtro_pesquisa option:checked {
    background: #141414;
    font-weight: bold;
    color: white;
}

.filtro_pesquisa option:hover {
    background: #ddd;
}


.search-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #888;
    pointer-events: none;
}

.sessao-cards {
    padding: 20px 160px;

}

.paginas {
    display: flex;
    justify-content: center;
    margin: 30px 0;
    font-family: 'Arial', sans-serif;
}

.paginas ul {
    list-style: none;
    display: flex;
    gap: 10px;
    padding: 0;
    margin: 0;
}

.paginas button {
    background-color: #f5f5f5;
    border: 2px solid #333;
    color: #333;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
    transition: all 0.2s ease;
}

.paginas button.active {
    background-color: #333;
    color: #fff;
    border-color: #333;
}

.paginas button:hover:not(:disabled) {
    background-color: #242424;
    color: #dddddd;
    border-color: #ffffff;
}

.paginas button:disabled {
    background-color: #ccc;
    color: #777;
    border-color: #ccc;
    cursor: not-allowed;
}

.sessao-cards {
    min-height: 80vh;
}

.sessao-cards .col-card {
    max-width: 500px;
    background: rgba(255, 255, 255, 0.144);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid rgb(250, 250, 250);
    height: 300px;
    transition: 0.3s;
}

.col-card .img-card {
    width: 50px;
    object-fit: contain;
    object-position: center;
    transition: 0.3s;
    height: 100px;
}

.img-card-personagem {
    width: 100%;
    object-fit: contain;
    object-position: center;
    transition: 0.3s;
    max-height: 200px !important;
}

.sessao-cards .col-card:hover {
    transform: scale(1.02);
    transition: 0.3s;
}


.img-card-personagem:hover {
    transform: scale(1.05);
    transition: 0.3s;
}


.col-card .img-card:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.link-cards {
    text-decoration: none;
}

.hero-detalhes {
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.651)),
        url(../img/background\ detalhes\ dragonball.jpg) center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    flex-direction: column;
}

.btn-voltar {
    width: 100px;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.144);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: white;
    padding: 10px;
    border-radius: 10px;
    transition: 0.3s;
}

.btn-voltar:hover {
    background: rgba(255, 255, 255, 0.377);
    transition: 0.3s;
}


.sessao-detalhes {
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.sessao-detalhes .conteudo-detalhes {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
}

.img-detalhes {
    width: 100%;
    max-height: 70vh;
    height: auto;
    object-fit: contain;
    animation: flutuar 3s ease-in-out infinite alternate;
}

.sessao-transformacoes {
    animation: fade-up 0.8s;
    background: rgba(75, 75, 75, 0.144);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: white;
}

.img-planeta {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 16px;
}

.desc-personagem {
    height: 200px;
    font-size: 20px;
}


@keyframes flutuar {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes fade-down {
    0% {
        opacity: 0;
        transform: translateY(-30px) scale(0.9);
    }

    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(30px) scale(0.9);
    }

    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}


.card-transformacao {
    color: white;
}

.planeta-card {
    border-radius: 50%;
    width: 100%;
    object-fit: contain;
    font-size: 30px;
}

.card-personagem {
    animation: fade-up 0.8s;
    background: rgba(75, 75, 75, 0.144);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: white;
}

.card-personagem .nome-card {
    font-size: 30px;
}

.circle-glass {
    position: absolute;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.3);
    filter: blur(30px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    box-shadow: 0 0 50px 20px rgba(255, 255, 255, 0.5);
}



@media (max-width: 768px) {

    .cabecalho,
    .sessao-pesquisa {
        padding: 10px 20px;
    }

    .conteudo-header .img-header {
        width: 100%;
        max-width: 250px;
        height: auto;
    }

    .input-pesquisar {
        width: 100%;
        max-width: none;
    }
}